:root {
  --primary-white-color: #ffff;
  --color-logo-button: rgba(77, 90, 229, 1);
  --color-title: rgba(46, 47, 66, 1);
  --color-text: rgba(67, 68, 85, 1);
  --color-secondory: rgba(255, 255, 255, 1);
  --color-footer: rgba(231, 233, 252, 1);
  --color-logo-footer: rgba(244, 244, 253, 1);
  --color-akcent: rgba(64, 75, 191, 1);
  --color-media: rgba(49, 208, 170, 1);

  --color-shadow: rgba(0, 0, 0, 0.25);
  --color-shadow-second: rgba(46, 47, 66, 0.08);
  --color-modal-input:rgba(142, 143, 153, 1);

  --modal-idx: 1000;
  --button-idx: 100;
}
.list,
.projects-list,
.list-cont,
.list-button,
.list-work,
.list-item,
.social-list-item,
.customers-item,
.social-media {
  list-style: none;
}
/* Cкидання стилів */
h1,
h2,
h3,
p {
  margin-top: 0;
  margin-bottom: 0;
}
ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
img {
  display: block;
}
.section {
  padding-bottom: 120px;
  padding-top: 120px;
}
body {
  background-color: var(--primary-white-color);
  color: var(--color-text);
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.02em;
}
/* хедер  */
.contacts {
  color: var(--color-title);
  font-size: 16px;
  line-height: 1.5;
  padding-top: 24px;
  padding-bottom: 24px;

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts:active {
  color: var(--color-logo-button);
}

.contacts:hover,
.contacts:focus {
  color: var(--color-logo-button);
}
.list-contacts .list {
  display: inline-block;
  display: flex;
}
.list-cont {
  display: inline;
  display: flex;
  margin-left: auto;
}
.list-contacts .item-contacts {
  display: flex;
  margin-right: auto;
}
.list-contacts .item-contacts:not(:first-child) {
  margin-left: 40px;
}
.list-contacts {
  display: flex;
  margin-left: auto;
}
.site-nav {
  display: block;
  padding-top: 24px;
  padding-bottom: 24px;

  color: var(--color-title);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.site-nav:hover,
.site-nav:focus {
  color: var(--color-akcent);
}
.site-nav.active {
  position: relative;
}
.site-nav.active::after {
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  background-color: var(--color-akcent);
  border-radius: 2px;
  position: absolute;
  bottom: 0;
  left: 0;
}

.container .contacts {
  display: inline-block;
  margin-right: 0;
}
.link .list {
  display: flex;
}
.list .item:not(:last-child) {
  margin-right: 40px;
  margin-left: 0;
}
.link .site-nav:active {
  color: #404bbf;
}
.active{
  color: var(--color-akcent);
}
.logo-color {
  color: var(--color-logo-button);
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
}
.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
  text-transform: uppercase;
  color: var(--color-title);
  margin-left: 0px;
  margin-right: 77px;
  padding-top: 24px;
  padding-bottom: 24px;
}
.page-header .container {
  display: flex;
  align-items: center;
}

/* h2 h3 */
.section-title {
  color: var(--color-title);
  font-weight: 500;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  text-transform: capitalize;
  margin-bottom: 72px;
}
.list-work {
  display: flex;
}
.list-work .item:not(:last-child) {
  margin-right: 24px;
}
.section-work {
  padding-bottom: 120px;
}
.section-advantage {
  padding-top: 120px;
  padding-bottom: 120px;
}
.advantage-list .title {
  color: var(--color-title);
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  margin-bottom: 8px;
}
.list-advantage {
  display: flex;
  list-style: none;
}
.list-advantage .advantage-list {
  width: 264px;
}
.list-advantage .advantage-list:not(:last-child) {
  margin-right: 24px;
}
.list-team .title {
  color: var(--color-title);
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  background-color: var(--primary-white-color);
}
.list-item .list-team {
  margin-bottom: 32px;
}
.item-team {
  padding-top: 32px;
  padding-bottom: 32px;
  padding-left: 16px;
  padding-right: 16px;
  background: #ffffff;
}

.icon-advantage {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 264px;
  height: 112px;
  background-color: rgba(244, 244, 253, 1);
  fill: rgba(46, 47, 66, 1);
}
.social-list-item {
  display: flex;
  justify-content: space-between;
}
.social-list-item li {
  width: 40px;
  height: 40px;
}
.social-list-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: var(--color-logo-button);
  fill: #ffffff;
}
.social-list-link:hover {
  background-color: var(--color-akcent);
  transition: background-color 250ms
    cubic-bezier(0.4, 0, 0.2, 1);
}
.list-item {
  display: flex;
  background-color: #f4f4fd;
  text-align: center;
}
.list-team {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
}
.list-item .list-team:not(:last-child) {
  margin-right: 24px;
}
.position {
  margin-top: 8px;
  margin-bottom: 8px;
}
.section.team {
  background-color: #f4f4fd;
}
.list-projects .title {
  color: var(--color-title);
}
/* панель навігації портфоліо */
.button-projects {
  display: inline-block;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 16px;
  padding-right: 16px;

  color: var(--color-akcent);
  background-color: var(--color-logo-footer);
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  cursor: pointer;
  border: 1px solid #e7e9fc;
  border-radius: 4px;

  transition: background-color 250ms
    cubic-bezier(0.4, 0, 0.2, 1);
}
.button-projects:hover,
.button-projects:focus {
  color: var(--primary-white-color);
  background-color: var(--color-akcent);
}
.button-projects:active {
  background-color: var(--color-akcent);
  color: var(--primary-white-color);
}

/* hero */
.section.hero {
  background-color: #2e2f42;
  align-items: center;
  padding-top: 192px;
  padding-bottom: 192px;
  max-width: 1440px;
  margin: 0 auto;
  background-image: linear-gradient(
      to right,
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url("../img/hero.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.section-title-hero {
  color: var(--primary-white-color);
  font-weight: 500;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  width: 492px;
  margin: 0 auto;
  margin-bottom: 48px;
}

.button-hero {
  display: flex;
  align-items: center;
  min-width: 170px;
  margin: 0 auto;
  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: 32px;
  padding-right: 32px;

  font-family: inherit;
  color: var(--primary-white-color);
  background-color: var(--color-logo-button);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;

  letter-spacing: 0.04em;
  cursor: pointer;
  border-radius: 4px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border: none;

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.button-hero:hover,
.button-hero:focus {
  color: var(--primary-white-color);
  background-color: var(--color-akcent);
}
.section-hero .button-hero:active {
  background-color: #404bbf;
  color: var(--primary-white-color);
}

/* Клієнти */

.customers-item {
  display: flex;
  justify-content: space-between;
  gap: 24px;
}
.customers-list {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 168px;
  height: 88px;
  text-align: center;
  border: solid 1px rgba(46, 47, 66, 0.4);

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.customers-list:hover,
.customers-list:focus {
  border: solid 1px var(--color-akcent);
}
.customers-link:hover .customers-logo,
.customers-link:focus .customers-logo {
  border: var(--color-akcent);
  fill: var(--color-akcent);
}

.customers {
  padding-top: 113px;
  padding-bottom: 120px;
  padding-left: 156px;
  padding-right: 156px;
}
.customers-link {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.customers-logo {
  fill: rgba(142, 143, 153, 1);
}

/* футер */
.recommend {
  background-color: #2e2f42;
  color: var(--color-footer);
  padding-top: 100px;
  padding-bottom: 100px;
}
.recommend a {
  color: var(--color-logo-footer);
  font-size: 16px;
  line-height: 1.5;
}
.social-media .social-media-link {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  padding: 12px;
  justify-content: center;
  align-items: center;
  background-color: rgba(67, 68, 85);
}
.socil-media-item{
  margin-right: 80px;
}
.text-footer {
  width: 264px;
  margin-top: 16px;
}
.info-footer {
  margin-right: 120px;
}
.recommend .logo {
  padding: 0;
  margin-right: 0;
  margin-bottom: 24px;
}
.container.info {
  display: flex;
  justify-content: flex-start;
}

a {
  text-decoration: none;
}
.media-text {
  margin-bottom: 16px;
}
.social-media {
  display: flex;
  justify-content: center;
  gap: 16px;
}
.social-media-link {
  fill: #ffffff;

  transition-property: backgrond-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.social-media-link:hover,
.social-media-link:focus {
  background-color: rgba(49, 208, 170, 1);
}

.text-subscribe{
  display: block;
  margin-bottom: 16px;
}
.form-subscribe{
  display: flex;
  gap: 24px;
  position: relative;
}
.subscribe-input:focus{
  outline: transparent;
  border: 1px solid #4D5AE5;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button-sub{
  display: flex;
  align-items: center;
  min-width: 165px;
  margin: 0 auto;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 24px;

  font-family: inherit;
  color: var(--primary-white-color);
  background-color: var(--color-logo-button);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;

  letter-spacing: 0.04em;
  cursor: pointer;
  border-radius: 4px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border: none;

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.subscribe-input{
 width: 264px;
 height: 40px;
 padding-left: 16px;
 background-color: var(--color-title);
 color: var(--primary-white-color);
 outline: transparent;
 border: 1px solid rgba(255, 255, 255, 0.3);
filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
border-radius: 4px;
}
.frame{
  display: block;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 100;
  transform: translate(-24px, -8px);
  cursor: pointer;
}
/* Портфолио */

.list-button {
  display: flex;
  justify-content: center;
  margin-bottom: 72px;
}

.list-button .item:not(:last-child) {
  margin-right: 24px;
}

.list-button .item {
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.list-button .item:hover,
.list-button .item:focus {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.title-project {
  color: var(--color-title);
  font-weight: 500;
  font-size: 20px;
  line-height: 1.33;
}
.projects-main p {
  margin-top: 8px;
}
.projects-list {
  display: flex;
  flex-wrap: wrap;
}
.list-projects {
  margin-right: 24px;
  margin-bottom: 48px;
  border-top: none;
}
.projects-link {
  display: block;
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

/* overlay */

.prof-overlay {
  position: relative;
  overflow: hidden;
}
.prof-overlay::before {
  display: inline-block;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: var(--color-logo-button);
  opacity: 0;

  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.overlay-text {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 20px;
  top: 20%;

  color: var(--primary-white-color);
  letter-spacing: 0.02em;
  line-height: 1.5;
  opacity: 0;

  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.projects-link:hover .overlay-text {
  opacity: 1;
  transform: translateY(0);
}
.projects-link:focus .overlay-text {
  opacity: 1;
  transform: translateY(0);
}
.projects-link:focus .prof-overlay::before {
  opacity: 1;
  transform: translateY(0);
  
}
.projects-link:hover .prof-overlay::before {
  opacity: 1;
  transform: translateY(0);
}

.projects-link:hover,
.projects-link:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08);
}
.list-projects:nth-child(3n) {
  margin-right: 0;
}
.list-projects:nth-last-child(-n + 3) {
  margin-bottom: 0;
}
.projects-main {
  border: 0.5px solid #f4f4fd;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08);
  padding-left: 16px;
  padding-bottom: 32px;
  padding-top: 32px;
  padding-right: 0 auto;
}
.section-main {
  padding-bottom: 120px;
  padding-top: 120px;
}
/* невидимий заголовок */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
/* Контейнери */
.container {
  margin: 0 auto;
  width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  justify-content: center;
  
}
.page-header.portfolio {
  background: #ffffff;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

/* MODAL */
.backdrop {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;

  background-color: rgba(46, 47, 66, 0.4);
  z-index: var(--modal-idx);

  transition: opacity 500ms ease, visibility 500ms ease;
}
.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 408px;
  min-height: 584px;
  padding-top: 72px;
  padding-left: 24px;
  padding-right: 24px;
  padding-bottom: 24px;

  background: #fcfcfc;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.modal-btn {
  width: 24px;
  height: 24px;
  position: absolute;
  top: 24px;
  right: 24px;
  background: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal-btn:hover,
.modal-btn:focus{
  background-color: var(--color-akcent);
  fill: var(--primary-white-color);
}
/* FORM */
.main-text{
  display: block;
  color: var(--color-title);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  text-align: center;
  margin-bottom: 16px;
  margin-left: auto;
  margin-right: auto;
}
.form-text{
  display: block;
  margin-bottom: 4px;
  color: var(--color-modal-input);
  line-height: 1.33;
  letter-spacing: 0.04em;
  font-size: 12px;
}
.form-massage{
  width: 100%;
  resize: none;
  margin-bottom: 8px;
  padding-left: 16px;
  padding-top: 8px;

  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.04em;
  color: rgba(117, 117, 117, 0.5);

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  
}
.form-massage:focus{
  outline: transparent;
  border: 1px solid #4D5AE5;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-massage::placeholder{
  /* padding-left: 16px;
  padding-top: 8px; */
}
.form-input{
  width: 100%;
  height: 40px;
  padding-left: 38px;
  padding-right: 4px;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
}
.form-input:focus{
  outline: transparent;
  border: 1px solid #4D5AE5;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-input:focus + .icon-form{
  fill: #4D5AE5;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.icon-form{
  position: absolute;
  bottom: 8px;
  left: 16px;
}
.form-field{
  display: block;
  position: relative;
  margin-bottom: 8px;
}
.form-input-agree{
  -webkit-appearance: none;
  appearance: none;
  
}
.check{
  opacity: 0;
  transition: 250ms;
}
.uncheck{
  opacity: 1;
  transition: 250ms;
}
.form-input-agree:checked ~ .icon-agree > .check{
  opacity: 1;
}
.form-text-agree{
  display: block;
  text-align: center;
  color: rgba(117, 117, 117, 1);
  line-height: 1.33;
  letter-spacing: 0.04em;
  font-size: 12px;
}
.text-agree-link{
  letter-spacing: 0.04em;
text-decoration-line: underline;
color: #4D5AE5;
}
.form-agree{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  margin-bottom: 24px;
}
.button-hero.btn{
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  justify-content: center;
}